*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todolist-container{
    max-width: 500px;
    margin: 0 auto;
    background-color: yellow;
    padding: 20px
}

body{
    background-image: ;
    background-color: green;
}
li{
    border-bottom: 1px solid black;
    cursor: pointer;
}